* {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-size: 12px;
	background-color: #FEFDFD;
}

/* Header section */

header {
	width: 100%;
	text-align: center;
	background-color: #745C9D;
	padding-top: 30px;
	padding-bottom: 30px;
}

header h1 {
	font-size: 3.0em;
	font-weight: 400;
	color: #FEFDFD;
	margin: 0;
}

/* Content section */

#page-content {
	margin-bottom: 60px; /* Equal to the height of the footer */
	padding-top: 25px;
}

#page-content h2 {
	font-size: 3.0em;
	font-weight: 300;
	color: #745C9D;
	margin-top: 0px;
	margin-bottom: 30px;
}

/* Footer section */

footer {
	background-color: #DFDDDC;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 55px;
	width: 100%;
	overflow: hidden;
}

footer #continue-button {
	position: relative;
	float: right;
	height: 55px;
	width: 120px;
	text-align: center;
	background-color: #745C9D;
}

footer #continue-button label {
	color: #FEFEFE;
	height: 55px;
	width: 120px;
	padding-top: 15px;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

footer #continue-button:hover {
	background-color: #4E8DFF;
	cursor: pointer;
	cursor: hand;
}

.loading-message {
	position: relative;
	float: right;
	height: 60px;
	width: 60px;
	margin-right: 10px;
}