#error-msg {
	margin-top: 25px;
}

#error-msg p {
	display: none;
	text-align: center;
	font-size: 1.75em;
	font-weight: 300;
	color: #4E8DFF;	
}

#page-content form label {
	margin-top: 100px;
	font-size: 2.0em;
	font-weight: 200;
	color: #433F48;
}

#page-content form input[type=text] {
	font-size: 2.0em;
	font-weight: 300;
	color: #433F48;
	text-align: center;
	margin-left: 20px;
	border: 2px solid #745C9D;
}

#page-content form #id_delivery_month, #id_delivery_day {
	width: 60px;
}

#page-content form #id_delivery_year {
	width: 100px;
}

footer #confirm-date-button {
	position: relative;
	float: right;
	height: 60px;
	width: 120px;
	text-align: center;
	background-color: #745C9D;
}

footer #confirm-date-button label {
	color: #FEFEFE;
	height: 60px;
	width: 120px;
	padding-top: 15px;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

footer #confirm-date-button:hover {
	background-color: #4E8DFF;
	cursor: pointer;
	cursor: hand;
}