#error-msg {
	margin-top: 25px;
}

#error-msg p {
	display: none;
	text-align: center;
	font-size: 1.75em;
	font-weight: 300;
	color: #4E8DFF;	
}

#page-content #calendar-instructions {
	margin-top: 85px;
	text-align: left;
	font-size: 2.0em;
	font-weight: 300;
	color: #745C9D;
}

#page-content .calendar-legend {
	margin-top: 10px;
}

#page-content #available-days {
	display: inline-block;
	width: 90px;
	height: 60px;
	background-color: #CDDEFF;
}

#page-content #non-available-days {
	display: inline-block;
	width: 90px;
	height: 60px;
	background-color: #ECECDC;
}

#page-content .legend-message {
	margin: 10px 0px 0px 40px;
	font-size: 2.0em;
	font-weight: 200;
	color: #433F48;
}

#page-content #calendar-container {
	padding: 10px 0px 10px 0px;
	margin: 0;
}

#page-content .ui-datepicker,
#page-content .ui-datepicker table,
#page-content .ui-datepicker tr,
#page-content .ui-datepicker td,
#page-content .ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

#page-content .ui-datepicker {
	display: none;
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.75em;
}

	/* Datepicker header */

#page-content .ui-datepicker-header {
	position: relative;
}

#page-content .ui-datepicker-title {
	text-align: center;
}

#page-content .ui-datepicker-month {
	color: #433F48;
}

#page-content .ui-datepicker-year {
	color: #433F48;
}

#page-content .ui-datepicker-prev, 
#page-content .ui-datepicker-next {
	position: absolute;
	cursor: pointer;
}

#page-content .ui-datepicker-prev {
    left: 0;
    padding-left: 5px;
    text-decoration: none;
    color: #433F48;
}

#page-content .ui-datepicker-prev:hover {
    color: #4E8DFF;
}
 
#page-content .ui-datepicker-next {
    right: 0;
    padding-right: 40px;
    text-decoration: none;
    color: #433F48;
}

#page-content .ui-datepicker-next:hover {
	color: #4E8DFF;
}

/* Datepicker calendar */
	
#page-content table.ui-datepicker-calendar {
	border-collapse: separate;
	border-spacing: 7px;
}

#page-content .ui-datepicker-calendar th {
	text-align: center;
	font-weight: 400;
	color: #a8a8a8;
}

#page-content .ui-datepicker-calendar td {
	padding: 0.6em 1.45em 0.6em 1.45em;
	background: #ECECDC;
	text-align: center;
}

#page-content .ui-datepicker-calendar td a {
	outline: none;
}

/* The days in this current month */
#page-content .ui-datepicker-calendar .ui-state-default {
	font-weight: 500;
	color: #433F48;
}

/* The days in the next/previous months */
#page-content .ui-datepicker-calendar .ui-datepicker-other-month .ui-state-default {
	color: #433F48;
	opacity: 0.25;
}

#page-content .ui-datepicker-calendar td:not(.ui-datepicker-other-month):hover {
	background: #4E8DFF;
	cursor: pointer;
}

#page-content .ui-datepicker-calendar td:not(.ui-datepicker-other-month):hover .ui-state-default {
	color: #FEFEFE;
	text-decoration: none;
}

#page-content .ui-datepicker-calendar td.selectedDate {
	background: #4E8DFF;
}

#page-content .ui-datepicker-calendar td.hasAppts {
	background: #CDDEFF;
}

#page-content .ui-datepicker-calendar td.selectedDate .ui-state-default {
	color: #FEFEFE;
	text-decoration: none;
}

/* Individual day appointments to right of calendar */

#page-content #appt-container {
	display: none;
	padding-top: 10px;
}

#page-content #appt-container #appt-date {
	background-color: #ECECDC;
	padding-top: 3px;
	height: 35px;
}

#page-content #appt-container #appt-date #appt-month {
	font-size: 1.50em;
	font-weight: 500;
	float: left;
}

#page-content #appt-container #appt-date #appt-day {
	font-size: 1.75em;
	font-weight: 600;
	float: right;
}

#page-content #appt-container .appt {
	padding-top: 10px;
	padding-bottom: 10px;
}

#page-content #appt-container .appt:hover {
	background: #4E8DFF !important;
	cursor: pointer;
}

#page-content #appt-container .appt:hover p {
	color: #FEFEFE !important;
}

#page-content #appt-container .appt-odd {
	background-color: #CDDEFF;
}

#page-content #appt-container .appt-even {
	background-color: #DCE7FD;
}

#page-content #appt-container .appt-booked {
	background-color: #90E6A6;
}

#page-content #appt-container .appt-time {
	margin: 0;
	font-size: 1.50em;
	font-weight: 600;
	color: #7B8FB7;
}

#page-content #appt-container .appt-unit {
	margin: 0;
	font-size: 1.50em;
	color: #7B8FB7;
}

footer #continue-button {
	display: none;
}

/* Small Tablets Landscape */
@media (min-width:641px) and (max-width:960px) { 
	#page-content #calendar-instructions {
		margin-top: 75px;
		font-size: 1.45em;
		font-weight: 300;
	}

	#page-content .legend-message {
		margin: 10px 0px 0px 40px;
		font-size: 1.30em;
		font-weight: 300;
	}

	#page-content #available-days {
		width: 65px;
		height: 45px;
	}

	#page-content #non-available-days {
		width: 65px;
		height: 45px;
	}

	#page-content .ui-datepicker {
		font-size: 1.35em;
	}

	#page-content .ui-datepicker-next {
	    padding-right: 5px;
	}

	#page-content .ui-datepicker-calendar td {
		padding: 0.6em 1.10em 0.6em 1.10em;
	}

	/* Appt-container stuff */
	#page-content #appt-container #appt-date #appt-month {
		font-size: 1.30em;
		font-weight: 400;
	}

	#page-content #appt-container #appt-date #appt-day {
		font-size: 1.40em;
		font-weight: 500;
	}

	#page-content #appt-container .appt {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	#page-content #appt-container .appt-time {
		font-size: 1.20em;
		font-weight: 500;
	}

	#page-content #appt-container .appt-unit {
		font-size: 1.20em;
	}
}

/* Small Tablets Portrait */
@media (min-width:641px) and (max-width:960px) and (orientation: portrait) { 
	/* Same as small tablets landscape */
}

/* Large Tablets */
@media (min-width:961px) and (max-width:1024px) { 
	#page-content #calendar-instructions {
		margin-top: 75px;
		font-size: 1.85em;
		font-weight: 300;
	}

	#page-content .legend-message {
		margin: 15px 0px 0px 40px;
		font-size: 1.60em;
		font-weight: 300;
	}

	#page-content #available-days {
		width: 80px;
		height: 60px;
	}

	#page-content #non-available-days {
		width: 80px;
		height: 60px;
	}

	#page-content .ui-datepicker {
		font-size: 1.50em;
	}

	#page-content .ui-datepicker-next {
	    padding-right: 20px;
	}

	#page-content .ui-datepicker-calendar td {
		padding: 0.7em 1.40em 0.7em 1.40em;
	}

	/* Appt-container stuff */
	#page-content #appt-container .appt {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	#page-content #appt-container .appt-time {
		font-size: 1.40em;
		font-weight: 500;
	}

	#page-content #appt-container .appt-unit {
		font-size: 1.40em;
	}
}

/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) {

}