p {
	font-size: 1.75em;
	font-weight: 200;
	color: #433F48;
	text-align: left;
}

.error-msg p {
	text-align: center;
	font-size: 1.75em;
	font-weight: 300;
	color: #4E8DFF;	
}

.error-msg p.dont-show {
	display: none;
}

#page-content .section-heading {
	margin-top: 30px;
	font-weight: 400;
}

#page-content form .sig-fields, .text-fields {
	margin-top: 20px;
}

#page-content form label {
	display: block;
	font-size: 2.0em;
	font-weight: 200;
	color: #433F48;
}

#page-content form .sig-fields .signature {
	border: 2px solid #745C9D;
}

#page-content form .text-fields input[type=text] {
	font-size: 2.0em;
	font-weight: 300;
	color: #433F48;
	border: 2px solid #745C9D;
}

#page-content form .text-fields #id_participant_name, #id_obtaining_name,
	#id_obtaining_role {
	width: 500px;
	margin-bottom: 5px;
	padding-left: 10px;
	text-align: left;
}

#page-content form .text-fields #id_participant_month, #id_participant_day, 
	#id_obtaining_month, #id_obtaining_day {
	width: 70px;
	margin-right: 10px;
	margin-bottom: 5px;
	text-align: center;
}

#page-content form .text-fields #id_participant_year, #id_obtaining_year {
	width: 100px;
	margin-bottom: 5px;
	text-align: center;
}

#page-content #investigator-certification {
	padding-bottom: 20px;
}