* {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-size: 14px;
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

/* Header section */

header {
	width: 100%;
	text-align: center;
	background-color: #745C9D;
	padding-top: 30px;
	padding-bottom: 30px;
}

header .header-content h1 {
	font-size: 3.0em;
	font-weight: 400;
	color: #FEFDFD;
	margin: 0;
}

/* Describe the personalized care section of HBP */

#care-content {
	margin-bottom: 60px;
}

#care-content {
	padding-top: 25px;
	background-color: #FEFDFD;
}

/* Video section */

#care-content #video-container h2 {
	font-size: 3.0em;
	font-weight: 300;
	color: #8D74B7;
	margin-bottom: 50px;
}

#care-content #video-container #start-prompt {
	font-size: 2.0em;
	font-weight: normal;
	margin-top: 150px;
}

#care-content #video-container .video-links {
	text-align: center;
	margin-bottom: 50px;
}

#care-content #video-container .video-links a {
	text-decoration: none;
	color: #000000;
}

#care-content #video-container .video-links a:hover {
	color: #745C9D;
}

#care-content #video-container .video-links p {
	display: inline-block;
	font-size: 1.6em;
}

#care-content #video-container .video-links .divider {
	margin-left: 10px;
	margin-right: 10px;
	color: #745C9D;
	font-weight: bold;
}

/* Footer section */

footer {
	background-color: #DFDDDC;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
	overflow: hidden;
}

footer div {
	display: inline-block;

}

footer #back-button {
	display: inline-block;
	float: left;
	height: 60px;
	padding: 15px 20px 15px 20px;
	background-color: #8D74B7;
}

footer #next-button {
	display: inline-block;
	float: right;
	height: 60px;
	padding: 15px 20px 15px 20px;
	background-color: #8D74B7;
}

footer a {
	text-decoration: none;
	outline: 0;
	color: #FEFEFE;
	font-size: 1.5em;
	font-weight: bold;
}

footer a:hover {
	color: #E1D4F4;
	text-decoration: none;
}