/* Initial message about important informational videos */

#videos-message p {
	font-size: 2.0em;
	font-weight: 200;
	color: #433F48;
}

#videos-message #videos-topics {
	text-align: center;
}

#videos-message .topic {
	display: inline-block;
}

#videos-message .divider {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	color: #745C9D;
	font-weight: 300;
}

#videos-message #video-prompt {
	clear: both;
	margin-top: 150px;
}

/* Nav links to watch rest of videos or continue */

#video-links {
	margin-top: -60px; /* Need to overide the default #page-content margin-bottom */
	margin-bottom: 60px; /* Equal to the height of the footer */
}

#video-links .video-link {
	margin-bottom: 30px;
}

#video-links .video-link img {
	width: 100%;
}

#video-links .video-link a {
	text-decoration: none;
}

#video-links .video-link .caption {
	padding-top: 7px;
	text-align: center;
	border-left: 2px solid #DFDDDC;
	border-bottom: 2px solid #DFDDDC;
	border-right: 2px solid #DFDDDC;
}

#video-links .video-link p {
	font-weight: 400;
	font-size: 1.30em;
	color: #433F48;
}

#video-links .video-link:hover .caption {
	background-color: #4E8DFF;
	border-left: 2px solid #4E8DFF;
	border-bottom: 2px solid #4E8DFF;
	border-right: 2px solid #4E8DFF;
}

#video-links .video-link:hover .caption p {
	color: #FEFEFE;
}

/* Footer section */

footer div {
	display: inline-block;
	height: 60px;
	padding: 15px 20px 15px 20px;
	background-color: #745C9D;
}

footer .back-button {
	float: left;
}

footer .next-button {
	float: right;
}

footer a {
	text-decoration: none;
	outline: 0;
	color: #FEFEFE;
	font-size: 1.5em;
	font-weight: bold;
}

footer a:hover div {
	background-color: #4E8DFF;
	color: #FEFEFE;
	text-decoration: none;
}