#error-msg p {
	margin-left: 60px;
	font-size: 1.75em;
	font-weight: 300;
	color: #4E8DFF;	
}

#error-msg p.dont-show {
	display: none;
}

#incentive-messages p {
	font-size: 1.7em;
	font-weight: 200;
	color: #433F48;
	text-align: left;
}

#phone-number-form {
	text-align: left;
}

#phone-number-form form label {
	margin-top: 10px;
	font-size: 2.0em;
	font-weight: 200;
	color: #433F48;
}

#phone-number-form form input[type=text] {
	font-size: 2.0em;
	font-weight: 300;
	color: #433F48;
	text-align: center;
	margin-left: 20px;
	border: 2px solid #745C9D;
}

#phone-number-form form #fields {
	display: inline-block;
}

img {
	position: relative;
	float: right;
}