* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-size: 14px;
	/*font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;*/
	font-family: 'Work Sans', sans-serif;
}

/* Header section */

header {
	position: relative;
	width: 100%;
    min-height: 84%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-image: url('/static/img/header.jpg');
	text-align: center;
}

header .header-content {
	position: relative;
	padding-top: 150px;
	padding-bottom: 150px;
}

header .header-content h1 {
	font-size: 6.0em;
	font-weight: 500;
	color: #745C9D;
	margin-bottom: 60px;
}

header .header-content p {
	font-weight: 300;
	font-size: 3.0em;
	color: #745C9D;
}

/* About section, describe the steps of HBP */

#about {
	padding-top: 70px;
	padding-bottom: 90px;
	background-color: #FEFDFD;
}

#about h2 {
	font-size: 3.5em;
	font-weight: 300;
	margin-bottom: 50px;
	color: #8D74B7;
}

#about .step {
	font-weight: 500;
	font-size: 1.70em;
	color: #A3A3A3;
}

#about .step-desc {
	font-weight: 300;
	font-size: 1.4em;
	color: #A3A3A3;
}

/* Get started, i.e. the call to action section */

#get-started {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #8D74B7;
}

#get-started h3 {
	font-size: 3.5em;
	font-weight: 400;
	margin-bottom: 30px;
	color: #FEFDFD;
}

#get-started #start-button {
	display: inline-block;
	padding: 3px 20px 3px 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #FEFDFD;
}

#get-started a:hover > #start-button {
	border-width: 3px;
}

#get-started a {
	text-decoration: none;
	outline: 0;
	color: #FEFDFD;
	font-size: 1.5em;
}
