.error-msg {
	display: none;
	font-size: 1.75em;
	font-weight: 300;
	color: #4E8DFF;	
}

#question-prompt {
	margin-top: 50px;
	font-weight: 200;
	font-size: 2.5em;
	color: #433F48;
}

/* Questions w/ Likert Scales section of HBP */

#questions-container {
	padding-top: 25px;
}

#questions-container form .statement {
	display: block;
	font-weight: 300;
	font-size: 1.75em;
	color: #433F48;
	margin-bottom: 15px;
}

#questions-container form .likert {
	list-style: none;
	width: 100%;
	margin-bottom: 40px;
	padding: 0 0 35px;
	display: block;
}

#questions-container form .likert:before {
	content: '';
	position:relative;
	top:11px;
	left:9.5%;
	display:block;
	background-color: #efefef;
	height:4px;
	width:78%;
}

#questions-container form .likert li {
	display: inline-block;
	width: 19%;
	text-align: center;
	vertical-align: top;
}

#questions-container form .likert li label {
	width: 100%;
	margin-left: -12px;
	color: #433F48;
}

#questions-container form .likert li input[type=radio] {
	display: block;
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -18px;
	margin-top: -2px;
}

#questions-container form input[type=radio] {
	width: 22px;
	height: 22px;
}

#questions-container form label {
	font-weight: normal;
	font-size: 1.25em;
	color: #433F48;
}

/* Questions w/ yes, no, or don't know answers on HBP */

#questions-container form .non-likert {
	display: block;
	text-align: left;
	margin-bottom: 40px;
}

#questions-container form .non-likert .non-likert-option label {
	vertical-align: top;
	padding-top: 2px;
	padding-left: 3px;
}

/* Footer section */

footer #continue-button {
	position: relative;
	display: inline-block;
	float: right;
	height: 60px;
	padding: 15px 20px 15px 20px;
	background-color: #745C9D;
}

footer #continue-button label {
	color: #FEFEFE;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

footer #continue-button label:hover {
	color: #DFDDDC;
}