#error-msg p {
	display: none;
	text-align: center;
	font-size: 1.75em;
	font-weight: 300;
	color: #4E8DFF;	
}

#question-prompt {
	margin-top: 50px;
	font-weight: 200;
	font-size: 2.70em;
	color: #433F48;
}

/* Questions w/ Likert Scales section of HBP */

#questions-container {
	padding-top: 25px;
}

#questions-container form .statement {
	display: block;
	font-weight: 300;
	font-size: 2.0em;
	color: #433F48;
	margin-bottom: 15px;
}

#questions-container form .likert {
	list-style: none;
	width: 100%;
	margin-bottom: 40px;
	padding: 0 0 35px;
	display: block;
}

#questions-container form .likert:before {
	content: '';
	position:relative;
	top:11px;
	left:9.5%;
	display:block;
	background-color: #efefef;
	height:4px;
	width:78%;
}

#questions-container form .likert li {
	display: inline-block;
	width: 19%;
	text-align: center;
	vertical-align: top;
}

#questions-container form .likert li label {
	width: 100%;
	margin-left: -12px;
	color: #433F48;
}

#questions-container form .likert li input[type=radio] {
	display: block;
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -18px;
	margin-top: -2px;
}

#questions-container form input[type=radio] {
	width: 22px;
	height: 22px;
	cursor: pointer;
	cursor: hand;
}

#questions-container form label {
	font-weight: normal;
	font-size: 1.50em;
	color: #433F48;
}

/* Questions w/ yes, no, or don't know answers on HBP */

#questions-container form .non-likert {
	display: block;
	text-align: left;
	margin-bottom: 40px;
}

#questions-container form .non-likert .non-likert-option label {
	vertical-align: top;
	padding-top: 2px;
	padding-left: 3px;
}

/* Small Tablets Landscape */
@media (min-width:641px) and (max-width:960px) { 
	#page-content h2 {
		font-size: 2.60em;
		font-weight: 300;
	}

	#question-prompt {
		font-weight: 200;
		font-size: 2.40em;
	}
}

/* Small Tablets Portrait */
@media (min-width:641px) and (max-width:960px) and (orientation: portrait) { 
	#page-content h2 {
		font-size: 2.80em;
		font-weight: 300;
	}

	#question-prompt {
		font-weight: 200;
		font-size: 2.60em;
	}
}

/* Large Tablets */
@media (min-width:961px) and (max-width:1024px) { 
	#page-content h2 {
		font-size: 3.25em;
		font-weight: 300;
	}

	#question-prompt {
		font-weight: 200;
		font-size: 3.0em;
	}
}

/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) {

}