{% extends "base.html" %}

{% block stylesheets %} 		
	<link rel="stylesheet" type="text/css" href="/static/css/commitAndScheduleCalendar.css">
{% endblock %}

{% block js %}
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js" type="text/javascript"></script>
	<script src="/static/js/commitAndScheduleCalendar.js" type="text/javascript"></script>
{% endblock %}

{% block header %} Commit and Schedule {% endblock %}

{% block content %} 
	<div class="col-lg-8" id="calendar-container">
	</div>
	<div class="col-lg-4">
		<p id="calendar-instructions"> Please select a follow up appointment. Click on a day to view the available times. </p>
		<div id="appt-container">
			<div class="row">
				<div class="col-lg-12" id="appt-date">
					<p id="appt-month"> April </p>
					<p id="appt-day"> 7 </p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 appt appt-odd">
					<p class="appt-time"> 10:00 AM - 11:00 AM </p>
					<p class="appt-doctor"> Dr. Facco </p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 appt appt-even">
					<p class="appt-time"> 11:00 AM - 12:00 AM</p>
					<p class="appt-doctor"> Dr. Himes </p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 appt appt-odd">
					<p class="appt-time"> 2:00 PM - 3:00 PM</p>
					<p class="appt-doctor"> Dr. Himes </p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 appt appt-even">
					<p class="appt-time"> 4:00 PM - 5:00 PM</p>
					<p class="appt-doctor"> Dr. Facco </p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12" id="error-msg">
					<p> Please select an appointment. </p>
				</div>
			</div>
		</div>
	</div>
	<script>
		var appointments = {{ appointments|safe }};
	</script>
{% endblock %}

{% block footer %}
	<a href="/cs/signature/"><div id="confirm-appt-button">Continue</div></a>
{% endblock %}