{% extends "base.html" %}

{% block stylesheets %} 		
	<link rel="stylesheet" type="text/css" href="/static/css/commitAndScheduleIntro.css">
{% endblock %}

{% block header %} Commit and Schedule {% endblock %}

{% block content %} 
	<div class="col-lg-10 col-lg-offset-1 text-center">
		<h2> Please commit to and schedule a follow up appointment. </h2>
		<p> I understand the importance of the postpartum visit in keeping me and my baby healthy and I commit to returning for this visit. Please click Commit to continue. </p>
	</div>
{% endblock %}

{% block footer %}
	<a href="/cs/delivery-date"><div class="next-button">Commit</div></a>
{% endblock %}