{% extends "base.html" %}

{% block stylesheets %} 		
	<link rel="stylesheet" type="text/css" href="/static/css/commitAndScheduleSignature.css">
{% endblock %}

{% block js %}
	<script src="/static/lib/signature_pad.min.js" type="text/javascript"></script>
	<script src="/static/js/checkDate.js" type="text/javascript"></script>
	<script src="/static/js/commitAndScheduleSignature.js" type="text/javascript"></script>
{% endblock %}

{% block header %} Commit and Schedule {% endblock %}

{% block content %} 
	<div class="col-lg-10 col-lg-offset-1 text-center">
		<h2> Please confirm your appointment.</h2>
		<div id="sig-form">
			<form method="POST" action="/cs/signature/">
				{% csrf_token %}
				<p class="message-prompt text-left"> Type your name and date of birth here: </p>
				<div class="row" id="sig-text-fields">
					<div class="col-lg-6">
						<label for"id_sig_name"> Name </label>
						{{ form.sig_name }}
					</div>
					<div class="col-lg-6">
						<label for="dob"> Date of birth </label>
						{{ form.dob_month }}
						{{ form.dob_day }}
						{{ form.dob_year }}
					</div>	
				</div>
				<p class="message-prompt text-left"> Use the stylus to sign here: </p>
				<div class="row" id="signature-field">
					<div class="col-lg-12">
						<label for="signature-canvas"> Signature </label>
						<canvas id="signature-canvas"></canvas>
						<!-- by defaul this is a hidden field -->
						{{ form.sig_image }}
					</div>
				</div>
				<div id="error-msg">
					{% if error_msg %}
						<p> {{ error_msg }} </p>
					{% else %}
						<p class="dont-show"> That date is invalid. Please try again. </p>
					{% endif %}
				</div>
				<div>
					<input type="submit" id="submit-form" class="hidden" />
				</div>
			</form>
		</div>
	</div>
{% endblock %}