<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" 
			href="/static/css/commitAndScheduleDeliveryDate.css">
		<link rel="stylesheet" 
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<script src="/static/js/commitAndScheduleDeliveryDate.js" type="text/javascript"></script>
	</head>
	<body>
		<header>
			<div class="header-content">
				<h1> Commit and Schedule </h1>
			</div>
		</header>
		<section id="cs-delivery-date">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 text-center">
						<h2> Please enter the date on which you delivered. </h2>
						<form method="POST" action="/cs/delivery-date/" onsubmit="return validateDeliveryDate()">
							{% csrf_token %}
							<div>
								<label for="delivery-date"> I delivered on </label>
								<input type="text" id="deliveryMonth" placeholder="MM" />
								<input type="text" id="deliveryDay" placeholder="DD" />
								<input type="text" id="deliveryYear" placeholder="YYYY" />	
							</div>
							<div>
								<input type="submit" id="submit-form" class="hidden" />
							</div>
						</form>
						<p id="delivery-date-error-msg"> That date is invalid. Please try again. </p>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div id="confirm-date-button"><label for="submit-form"> Continue </label></div>
		</footer>
	</body>
</html>