{% extends "base.html" %}

{% block stylesheets %} 		
	<link rel="stylesheet" type="text/css" href="/static/css/commitAndScheduleDeliveryDate.css">
{% endblock %}

{% block js %}
	<script src="/static/js/checkDate.js" type="text/javascript"></script>
	<script src="/static/js/commitAndScheduleDeliveryDate.js" type="text/javascript"></script>
{% endblock %}

{% block header %} Commit and Schedule {% endblock %}

{% block content %} 
	<div class="col-lg-10 col-lg-offset-1 text-center">
		<h2> Please provide the following information </h2>
		<form method="POST" action="/cs/delivery-date/">
			{% csrf_token %}
			<label class="statement text-left non-likert-label"> {{ form.q10.label }} </label>
			<div class="non-likert">
				{% for radio in form.q10 %}
					<div class="non-likert-option">
						{{ radio.tag }}
						<label> {{ radio.choice_label }} </label>
					</div>
				{% endfor %}
			</div>
			<label class="statement text-left non-likert-label"> {{ form.q11.label }} </label>
			<div class="non-likert">
				{% for radio in form.q11 %}
					<div class="non-likert-option">
						{{ radio.tag }}
						<label> {{ radio.choice_label }} </label>
					</div>
				{% endfor %}
			</div>
			<div>
				<label id="delivery-label" class="statement text-left" for="delivery-date"> I delivered on </label>
				{{ form.delivery_month }}
				{{ form.delivery_day }}
				{{ form.delivery_year }}
				<div id="error-msg">
					{% if error_msg %}
						<p> {{ error_msg }} </p>
					{% else %}
						<p class="dont-show"> Please enter a valid date. </p>
					{% endif %}
				</div>
			</div>
			<p id="test-message">(For the test version of the website, please enter delivery dates between 4/10/2016 - 12/12/2016)</p>
			<div>
				<input type="submit" id="submit-form" class="hidden" />
			</div>
		</form>
	</div>
{% endblock %}