{% extends "base.html" %}

{% block stylesheets %} 		
	<link rel="stylesheet" type="text/css" href="/static/css/commitAndScheduleCalendar.css">
{% endblock %}

{% block js %}
	<script src="/static/lib/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/static/js/commitAndScheduleCalendar.js" type="text/javascript"></script>
{% endblock %}

{% block header %} Commit and Schedule {% endblock %}

{% block content %} 
	<div class="col-sm-8" id="calendar-container">
	</div>
	<div class="col-sm-4">
		<p id="calendar-instructions"> Please select a follow up appointment. Click on a day to see the appointment availability. </p>
		<div class="row calendar-legend">
			<div class="col-sm-2">
				<div id="available-days"></div>
			</div>
			<div class="col-sm-10">
				<p class="legend-message"> Available </p>
			</div>
		</div>
		<div class="row calendar-legend">
			<div class="col-sm-2">
				<div id="non-available-days"></div>
			</div>
			<div class="col-sm-10">
				<p class="legend-message"> Not Available </p>
			</div>
		</div>
		<div id="appt-container">
			<div id="appt-container-info">
				<div class="row">
					<div class="col-sm-12" id="appt-date">
						<p id="appt-month"> April </p>
						<p id="appt-day"> 7 </p>
					</div>
				</div>
			</div>
			<div id="appt-container-times">
			</div>
			<div id="appt-container-form">
				<form method="POST" action="/cs/calendar/">
					{% csrf_token %}
					<!-- by defaul these are hidden fields -->
					{{ form.appt_id }}	
					{{ form.appt_date }}
					{{ form.appt_time }}
					<input type="submit" id="submit-form" class="hidden" />			
				</form>
			</div>
			<div id="appt-container-errors">
				<div class="row">
					<div class="col-sm-12" id="error-msg">
						<p> Please select an appointment. </p>
					</div>
				</div>			
			</div>
		</div>
	</div>
	<script>
		var appointments = {{ appointments|safe }};
	</script>
{% endblock %}