<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/commitAndSchedule.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	</head>
	<body>
		<header>
			<div class="header-content">
				<h1> Commit and Schedule </h1>
			</div>
		</header>
		<section id="cs-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 text-center">
						<h2> Please commit to and schedule a follow up appointment. </h2>
						<p> I understand the importance of the postpartum visit in keeping me and my baby healthy and I commit to returning for this visit. </p>
						<div class="button">
							<a href="/cs/"><div id="commit-button">Commit</div></a>
						</div>
					</div>		
				</div>
			</div>
		</section>
	</body>
</html>
