<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/final.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	</head>
	<body>
		<header>
			<div class="header-content">
				<h1> Commit and Schedule </h1>
			</div>
		</header>
		<section id="final-message">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 text-center">
						<h2> You finished! </h2>
					</div>		
				</div>
			</div>
		</section>
		<footer>
			<div></div>
		</footer>
	</body>
</html>
