{% extends "base.html" %}

{% block stylesheets %} 		
	<link rel="stylesheet" type="text/css" href="/static/css/final.css">
{% endblock %}

{% block header %} Commit and Schedule {% endblock %}

{% block content %} 
	<div class="col-lg-10 col-lg-offset-1 text-center">
		<h2> Thank you for participating in Healthy Beyond Pregnancy </h2>
		<p> You commited to attending your PP visit on {{ appt_date }} at {{ appt_time }}. At that visit you will learn more about 
			{% for topic in required_topics %}
				{% if not forloop.last %}
					{% if required_topics|length == 2 %}
						{{ topic }}
					{% else %}
						{{ topic }}, 
					{% endif %}
				{% else %}
					and {{ topic }}.
				{% endif %}
			{% endfor %}
		</p>
		<p> Remember, if you fulfill your commitment we will thank you with $40. </p>
	</div>
{% endblock %}

{% block footer %}
	<a href="/print-appt/"><div class="print-button">Print Appt</div></a>
{% endblock %}