{% extends "base.html" %}

{% block stylesheets %} 		
	<link rel="stylesheet" type="text/css" href="/static/css/importantInformation.css">
{% endblock %}

{% block header %} Personalized Care {% endblock %}

{% block content %} 
	<!-- Intro message on video section -->
	{% if video_index == 0 %}
		<div id="videos-message">
			<h2> Based on your answers, please watch two videos with some important information on birth control and breastfeeding support. </h2>
			<p> Please click Next Video to begin. </p>
		</div>
	<!-- Individual video section -->
	{% elif not video_index == 0 and not video_index == 3 %}
		<div id="videos-container">
			{% if video_index == 1 %}
				<h2> Birth control </h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/seHxzqWFqa8" frameborder="0" allowfullscreen></iframe>
			{% elif video_index == 2 %}
				<h2> Breastfeeding support </h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/8bAccWMfyHo" frameborder="0" allowfullscreen></iframe>
			{% endif %}
		</div>
	<!-- (Final message on video section) & links to rewatch videos -->
	{% else %}
		<h2> You can watch more videos on other topics or continue to schedule an appointment. </h2>
	{% endif %}
{% endblock %}

{% block extraSection %}
	<!-- Final message on video section & (links to rewatch videos) -->
	{% if video_index == 3 %}
		<section id="video-links">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 video-link">
						<a href="/">
							<img src="http://placehold.it/320x150" alt="">
							<div class="caption">
								<p> Birth control </p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 video-link">
						<a href="/">
							<img src="http://placehold.it/320x150" alt="">
							<div class="caption">
								<p> Breastfeeding support </p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 video-link">
						<a href="/">
							<img src="http://placehold.it/320x150" alt="">
							<div class="caption">
								<p> Screening for depression </p>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 video-link">
						<a href="/">
							<img src="http://placehold.it/320x150" alt="">
							<div class="caption">
								<p> Talking to a doctor </p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 video-link">
						<a href="/">
							<img src="http://placehold.it/320x150" alt="">
							<div class="caption">
								<p> Diet, exercise, weight loss, sexual activity </p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 video-link">
						<a href="/">
							<img src="http://placehold.it/320x150" alt="">
							<div class="caption">
								<p> Bowel and bladder health </p>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 video-link">
						<a href="/">
							<img src="http://placehold.it/320x150" alt="">
							<div class="caption">
								<p> Gestational diabetes </p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 video-link">
						<a href="/">
							<img src="http://placehold.it/320x150" alt="">
							<div class="caption">
								<p> High blood pressure </p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 video-link">
						<a href="/">
							<img src="http://placehold.it/320x150" alt="">
							<div class="caption">
								<p> Preterm labor </p>
							</div>
						</a>
					</div>
				</div>			
			</div>
		</section>
	{% endif %}
{% endblock %}

{% block footer %} 
	<!-- If they have finished the videos either have back or continue buttons -->
	{% if finished_videos %}
		{% if video_index == 3 %}
			<a href="/cs/"><div class="next-button">Continue</div></a>
		{% else %}
			<a href="/iv/3/"><div class="back-button">Back</div></a>
		{% endif %}
	<!-- If they have not finished the videos, only have next button -->
	{% else %}
		<a href="/iv/{{ video_index|add:1 }}/"><div class="next-button">Next video</div></a>
	{% endif %}
{% endblock %}