{% extends "base.html" %}

{% block stylesheets %} 		
	<link rel="stylesheet" type="text/css" href="/static/css/importantInformation.css">
{% endblock %}

{% block header %} Personalized Care {% endblock %}

{% block content %} 
	<!-- Intro message on video section -->
	{% if video_index == 0 %}
		<div id="videos-message">
			<h2> Based on your answers, please watch two videos with some important information on birth control and breastfeeding support. </h2>
			<p> Please click Next Video to begin. </p>
		</div>
	<!-- Individual video section -->
	{% elif not video_index == 0 and not video_index == 3 %}
		<div id="videos-container">
			{% if video_index == 1 %}
				<h2> Birth control </h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/seHxzqWFqa8" frameborder="0" allowfullscreen></iframe>
			{% elif video_index == 2 %}
				<h2> Breastfeeding support </h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/8bAccWMfyHo" frameborder="0" allowfullscreen></iframe>
			{% endif %}
		</div>
	<!-- Final message on video section & links to rewatch videos -->
	{% else %}
		<div id="videos-navlinks">
			<h2> Feel free to watch more videos on different content areas or continue to commit and schedule. </h2>
			<div class="video-links">
				<a href="/iv/1/"><p>Birth control</p></a>
				<p class="divider"> | </p>
				<a href="/iv/2/"><p>Breastfeeding support</p></a>
				<p class="divider"> | </p>
				<a href="/iv/3/"><p>Screening for depression</p></a>
			</div>
			<div class="video-links">
				<a href="/iv/4/"><p>Talking to a doctor</p></a>
				<p class="divider"> | </p>
				<a href="/iv/5/"><p>Diet, exercise, weight loss, sexual activity</p></a>
				<p class="divider"> | </p>						
				<a href="/iv/6/"><p>Bowel and bladder health</p></a>
			</div>
			<div class="video-links">
				<a href="/iv/7/"><p>Gestational diabetes</p></a>
				<p class="divider"> | </p>
				<a href="/iv/8/"><p>High blood pressure</p></a>
				<p class="divider"> | </p>
				<a href="/iv/9/"><p>Preterm labor</p></a>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block footer %} 
	<!-- If they have finished the videos either have back or continue buttons -->
	{% if finished_videos %}
		{% if video_index == 3 %}
			<a href="/cs/"><div class="next-button">Continue</div></a>
		{% else %}
			<a href="/iv/3/"><div class="back-button">Back</div></a>
		{% endif %}
	<!-- If they have not finished the videos, only have next button -->
	{% else %}
		<a href="/iv/{{ video_index|add:1 }}/"><div class="next-button">Next video</div></a>
	{% endif %}
{% endblock %}