{% extends "base.html" %}

{% block stylesheets %} 		
	<link rel="stylesheet" type="text/css" href="/static/css/importantInformation.css">
{% endblock %}

{% block header %} Personalized Care {% endblock %}

{% block content %} 
	<div class="col-lg-10 col-lg-offset-1 text-center">
		<!-- Intro message on video section -->
		{% if video_index == 0 %}
			<div id="videos-message">
				<h2> Based on your answers, please watch some videos with important information on the following topics: </h2>
				<div id="videos-topics">
					<p class="divider"> | </p>
					{% for topic in required_topics %}
						<p class="topic"> {{ topic }} </p>
						{% if not forloop.last %}
							<p class="divider"> | </p>
						{% endif %}
					{% endfor %}
					<p class="divider"> | </p>
				</div>
				<p class="text-center" id="video-prompt"> Please click Next Video to begin. </p>
			</div>
		<!-- Individual video section -->
		{% elif not video_index == 0 and not video_index == 10 %}
			<div id="videos-container">
				{% if video_index == 1 %}
					<h2> Birth control </h2>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/seHxzqWFqa8" frameborder="0" allowfullscreen></iframe>
				{% elif video_index == 2 %}
					<h2> Breastfeeding support </h2>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/Fl14sYynSpA" frameborder="0" allowfullscreen></iframe>
				{% elif video_index == 3 %}
					<h2> Checking on my mood </h2>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/vk_sgLRDPd4" frameborder="0" allowfullscreen></iframe>
				{% elif video_index == 4 %}
					<h2> Talking to a doctor </h2>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/8bAccWMfyHo" frameborder="0" allowfullscreen></iframe>
				{% elif video_index == 5 %}
					<h2> Diet, exercise, weight loss, sexual activity </h2>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/w7gM0ng9N2s" frameborder="0" allowfullscreen></iframe>			
				{% elif video_index == 6 %}
					<h2> Bowel and bladder health </h2>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/nxaPEcyaL2w" frameborder="0" allowfullscreen></iframe>
				{% elif video_index == 7 %}
					<h2> Gestational diabetes </h2>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/5TnVuPdHH_Y" frameborder="0" allowfullscreen></iframe>
				{% elif video_index == 8 %}
					<h2> High blood pressure </h2>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/h0w7buQrnAw" frameborder="0" allowfullscreen></iframe>
				{% elif video_index == 9 %}
					<h2> Preterm labor </h2>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/JXaF5I70zA8" frameborder="0" allowfullscreen></iframe>
				{% endif %}
			</div>
		<!-- (Final message on video section) & links to rewatch videos -->
		{% else %}
			<h2> Feel free to watch more videos or click continue to commit and schedule. </h2>
		{% endif %}
	</div>
{% endblock %}

<!-- Final message on video section & (links to rewatch videos) -->
{% block extraSection %}
	{% if video_index == 10 %}
		<section id="video-links">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 video-link">
						<a href="/iv/1/">
							<img src="http://img.youtube.com/vi/seHxzqWFqa8/mqdefault.jpg" alt="">
							<div class="caption">
								<p> Birth control </p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 video-link">
						<a href="/iv/2/">
							<img src="http://img.youtube.com/vi/Fl14sYynSpA/mqdefault.jpg" alt="">
							<div class="caption">
								<p> Breastfeeding support </p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 video-link">
						<a href="/iv/3/">
							<img src="http://img.youtube.com/vi/vk_sgLRDPd4/mqdefault.jpg" alt="">
							<div class="caption">
								<p> Checking on my mood </p>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 video-link">
						<a href="/iv/4/">
							<img src="http://img.youtube.com/vi/8bAccWMfyHo/mqdefault.jpg" alt="">
							<div class="caption">
								<p> Talking to a doctor </p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 video-link">
						<a href="/iv/5/">
							<img src="http://img.youtube.com/vi/w7gM0ng9N2s/mqdefault.jpg" alt="">
							<div class="caption">
								<p> Diet, exercise, weight loss, sexual activity </p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 video-link">
						<a href="/iv/6/">
							<img src="http://img.youtube.com/vi/nxaPEcyaL2w/mqdefault.jpg" alt="">
							<div class="caption">
								<p> Bowel and bladder health </p>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 video-link">
						<a href="/iv/7/">
							<img src="http://img.youtube.com/vi/5TnVuPdHH_Y/mqdefault.jpg" alt="">
							<div class="caption">
								<p> Gestational diabetes </p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 video-link">
						<a href="/iv/8/">
							<img src="http://img.youtube.com/vi/h0w7buQrnAw/mqdefault.jpg" alt="">
							<div class="caption">
								<p> High blood pressure </p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 video-link">
						<a href="/iv/9/">
							<img src="http://img.youtube.com/vi/JXaF5I70zA8/mqdefault.jpg" alt="">
							<div class="caption">
								<p> Preterm labor </p>
							</div>
						</a>
					</div>
				</div>			
			</div>
		</section>
	{% endif %}
{% endblock %}

{% block footer %} 
	<!-- If they have finished the videos either have back or continue buttons -->
	{% if finished_videos %}
		{% if video_index == 10 %}
			<a href="/cs/"><div class="next-button">Continue</div></a>
		{% else %}
			<a href="/iv/10/"><div class="back-button">Back</div></a>
		{% endif %}
	<!-- If they have not finished the videos, only have next button -->
	{% else %}
		<a href="/iv/{{ next_video }}/"><div class="next-button">Next video</div></a>
	{% endif %}
{% endblock %}