<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/incentive.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	</head>
	<body>
		<header>
			<div class="header-content">
				<h1> Commit and Schedule </h1>
			</div>
		</header>
		<section id="cs-incentive">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 text-center">
						<h2> Thank you so much for committing to this important health visit. </h2>
						<p> We look forward to seeing you on XX/XX/XXXX at XXX AM/PM. Please feel free to bring your baby in tow if that is more covenient for you, we love to see the new babies! </p>
						<p> We know that you will be busy after delivery, so to say thank you for coming and fulfilling your commitment we will give you XXX when you come for your visit. </p>
						<p> To help you remember your visit, please leave an SMS number with us. We will send you visit reminders and will also share helpful tips and links about postpartum health. </p>
						<p> PLACE TO ENTER SMS NUMBER </p>
					</div>		
				</div>
			</div>
		</section>
		<footer>
			<div></div>
		</footer>
	</body>
</html>
