{% extends "base.html" %}

{% block stylesheets %} 		
	<link rel="stylesheet" type="text/css" href="/static/css/incentive.css">
{% endblock %}

{% block js %}
	<script src="/static/lib/jquery.validate.min.js" type="text/javascript"></script>
	<script src="/static/js/incentive.js" type="text/javascript"></script>
{% endblock %}

{% block header %} Commit and Schedule {% endblock %}

{% block content %} 
	<div class="col-lg-10 col-lg-offset-1 text-center">
		<h2> Thank you for committing to this important health visit. </h2>
		<div class="row">
			<div class="col-lg-8">
				<div id="incentive-messages">
					<p> We look forward to seeing you on XX/XX/XXXX at XXX AM/PM. Please feel free to bring your baby. We love to see the new babies! </p>
					<p> We know that you will be busy after delivery, so to say thank you for coming we will give you XXX when you come for your visit. </p>
					<p> To help you remember your visit, please leave an SMS number with us. We will send you visit reminders and will also share helpful tips and links about postpartum health. </p>
				</div>
				<div id="phone-number-form">
					<form method="POST" action="/incentive/">
						{% csrf_token %}
						<div id="fields">
							<label for="id_phone_number"> Phone number </label>
							{{ form.phone_number }}
						</div>
						<div id="error-msg">
							<p id="phone-number-error-msg"> Please enter a valid phone number. </p>
						</div>
						<div>
							<input type="submit" id="submit-form" class="hidden" />
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-4">
				<img src="/static/img/incentive.jpg" class="img-responsive" alt="">
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<div id="confirm-button"><label for="submit-form"> Continue </label></div>
{% endblock %}