<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/index.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	</head>
	<body>
		<header>
			<div class="header-content">
				<h1> Healthy Beyond Pregnancy </h1>
				<p> Why is postpartum care important? </p>
			</div>
		</header>

		<!-- How it works Section -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 text-center">
						<h2> How it works </h2>
						<div class="row">
							<div class="col-lg-4">
								<img class="img-responsive" src="/static/img/how1.png" alt="" style="display: block; margin:auto; margin-top: 20px;">
								<p class="step" style="margin-top: 5px;"> Get personalized care </p>
								<p class="step-desc"> We'll give you postpartum information that you want. </p>
							</div>
							<div class="col-lg-4">
								<img class="img-responsive" src="/static/img/how2.png" alt="" style="display: block; margin:auto;">
								<p class="step" style="margin-top: 2px;"> Commit to a visit </p>
								<p class="step-desc"> Get your postpartum visit scheduled before leaving the hospital. </p>
							</div>
							<div class="col-lg-4">
								<img class="img-responsive svg" src="/static/img/how3.png" alt="" style="display: block; margin:auto;margin-top: 23px">
								<p class="step" style="margin-top: 5px;"> Get a reward </p>
								<p class="step-desc"> If you come for your postpartum visit, you recieve an incentive. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Timeline Section -->
		<section id="timeline-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2> Timeline </h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<ul class="timeline">
							<li>
								<div class="timeline-image">
									<img class="img-circle img-responsive" src="/static/img/delivery.jpg" alt="">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3> Day 0 </h3>
										<h3> Delivery </h3> 
									</div>
									<div class="timeline-body">
										<p> Begin HBP while in the hospital by defining your care goals and scheduling your postpartum visit. </p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
	                            <div class="timeline-image">
	                                <img class="img-circle img-responsive" src="/static/img/texting.jpg" alt="">
	                            </div>
	                            <div class="timeline-panel">
	                                <div class="timeline-heading">
	                                    <h3> Day 4 - 6 </h3>
	                                    <h3> Leave Hospital </h3>
	                                </div>
	                                <div class="timeline-body">
	                                    <p> Receive text messages from HBP team with updates as your postpartum visit nears. </p>
	                                    <p> 
	                                </div>
	                            </div>
	                        </li>
	                        <li class="timeline">
	                            <div class="timeline-image">
	                                <img class="img-circle img-responsive" src="static/img/magee.jpg" alt="">
	                            </div>
	                            <div class="timeline-panel">
	                                <div class="timeline-heading">
	                                    <h3> Day 21 - 56 </h3>
	                                    <h3> Postpartum Visit </h3>
	                                </div>
	                                <div class="timeline-body">
	                                    <p> Attend your postpartum visit to receive personalized care and get a reward for reconnecting to care. </p>
	                                </div>
	                            </div>
	                        </li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<!-- Getting Started Section -->
		<section id="get-started">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 text-center">
						<h2> Let's get started </h2>	
						<div class="row">
							<div class="col-lg-3 col-lg-offset-3">
								<a href="/pc/"><div class="gs-button">Start</div></a>
							</div>
							<div class="col-lg-3">
								<a href="/consent/"><div class="gs-button">Consent</div></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
