{% extends "base.html" %}

{% block stylesheets %} 		
	<link rel="stylesheet" type="text/css" href="/static/css/personalizedCare.css">
{% endblock %}

{% block js %}
	<script src="/static/js/personalizedCare.js" type="text/javascript"></script>
{% endblock %}

{% block header %} Personalized Care {% endblock %}

{% block content %} 
	<div class="col-lg-10 col-lg-offset-1 text-center">
		<h2 class="text-center"> During the postpartum visit we can talk about many important health issues for you and your baby. </h2>
		<p class="text-left" id="question-prompt"> Tell us which are the most important issues to you: </p>
		<div id="questions-container">
			<form action="/pc/" method="POST">
				{% csrf_token %}
				{% for question in form %}
					<label class="statement text-left"> {{ question.label }} </label>
					<!-- Likert question (not at all, not really, neutral, somewhat, very important -->
					{% if question|length == 5 %}
						<ul class="likert">
							{% for radio in question %}
								<li>
									{{ radio.tag }}
									<label> {{ radio.choice_label }} </label>
								</li>
							{% endfor %}
						</ul>
					<!-- Non likert question (yes, no, don't know) -->
					{% else %}
						<div class="non-likert">
							{% for radio in question %}
								<div class="non-likert-option">
									{{ radio.tag }}
									<label> {{ radio.choice_label }} </label>
								</div>
							{% endfor %}
						</div>
					{% endif %}
				{% endfor %}
				<div id="error-msg">
					<p> Please answers all the questions. </p>
				</div>
				<div>
					<input type="submit" id="submit-form" class="hidden" />
				</div>
			</form>
		</div>
	</div>
{% endblock %}